*{
	margin:0 auto;
	padding: 0 auto;
}
body{
	background: white;
	background-attachment: absolute;
	background-size: 100% 100%;
	max-width: 100%;
	font-size: 16px;
	color: rgba(0.0.0.1);
}
#cuerpo{
	width: 
}